# -- OSX
.DS_Store
.AppleDouble
.LSOverride

# -- SublimeText
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# -- Workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# -- SFTP configuration file
sftp-config.json

# -- Basics
*.py[cod]
__pycache__

# -- Logs
logs
*.log
pip-log.txt
npm-debug.log*

# -- Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# -- Translations
*.mo
*.pot

# -- Pycharm
.idea/*

# -- Vim
*~
*.swp
*.swo

# -- virtual environments
.env
.env.local

# -- MailHog binary
mailhog

.cache/

# -- Celery
celerybeat-schedule

# Static and Media
static/
media/
