[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
pytz = "*"
django-environ = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
django-silk = "*"
gunicorn = "*"
django-templated-email = "*"
tablib = "*"
sorl-thumbnail = "*"
redis = "*"
django-redis = "*"
celery = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-filter = "*"
coreapi = "*"
django-extra-fields = "*"
social-auth-core = "*"
social-auth-app-django = "*"
django-anymail = "*"
"argon2-cffi" = "*"
pillow = "*"
pygments = "*"
markdown = "*"
ipdb = "*"
werkzeug = "*"

[dev-packages]
django-debug-toolbar = "*"
coverage = "*"
django-test-plus = "*"
factory-boy = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
markdown = "*"
tox = "*"
django-coverage-plugin = "*"

[requires]
python_version = "3.6"
